<header  class="header white-bg">
  <div class="sidebar-toggle-box">
    <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
  </div>
  <!--logo start-->
  <a href="#" class="logo">
    <!--        <img src="http://partner.topdev.vn/public/images/logo3.png">-->
  </a>
  <!--logo end-->
  <div class="top-nav ">
    <ul class="nav pull-right top-menu">
      <li>
        <span style="padding: 6px 15px;margin-top: 9px;" class="badge bg-success">0 vnđ</span>
      </li>
      <!-- user login dropdown start-->
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <!--                    <img alt="" src="http://partner.topdev.vn/public/images/avatar1_small.jpg">-->
          <span class="username">voz</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout" style="width: 100px !important;">
          <div class="log-arrow-up"></div>
          <li style="float: none; width: 100%"><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
          <li><a ng-click="logout()"><i class="fa fa-key"></i> Thoát</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>