<aside ng-if="isAuthenticated()">
  <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="/products">
          <span>Sản phẩm</span>
        </a>
      </li>

      <li>
        <a href="/product_categories">
          <span>Danh mục Sản phẩm</span>
        </a>
      </li>

      <li>
        <a href="/comments">
          <span>Bình luận</span>
        </a>
      </li>

      <li>
        <a href="/news">
          <span>Tin tức</span>
        </a>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>